:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #252525;
  cursor: pointer;
  transition: border-color 0.25s;
}

.custom_button {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(-99%);
}

button:hover {
  border-color: #e5f326;
}

.custom-cart {
  width: 10px;
  height: 100vh;
  background-color: #242424;
  position: fixed;
  top: 0;
  right: 0;
  transition: width 1s;
  z-index: 5555;
}
.size-button {
  width: 100%;
  height: 50px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #242424;
  color:  rgb(218, 197, 12);
  border: 1px solid rgb(218, 197, 12);
}
.size-button:hover{
  background-color: rgb(218, 197, 12);
  color: #242424 ;
  border: 1x solid #242424  ;
}

.size-button:hover{
  border-color:#242424 ;
}
.phone-style{
  width: 100%;
  text-align: start;
  font-size: 20px;
}
.add-to-cart-button{
  background-color: #242424;
  color: rgb(218, 197, 12);
  border: 1px solid rgb(218, 197, 12);;
  font-weight: bold;
  width: 100%;
}
.add-to-cart-button:hover{
  background-color: rgb(218, 197, 12);
  color: #242424;
  border: 1px solid #242424;
}

.sizes-container{
  padding: 10px;
  margin-top: 100px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
}
.container-grid{
  display: grid;
  grid-template-rows:1fr ;
  grid-template-columns: 200px auto;
}
.cards-container{
  margin-top: 100px;
  display: flex ;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.card-size{  
  width: 250px;
  height: 400px;
  background-color: rgba(255, 250, 158, 0.6);
}
.card-body-flex{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.image-size{
  width: 100%;
  height: 200px;
  padding: 2px;
  object-fit: cover;
}

.trans {
  width: 400px;
}

.cart_container {
  /* position: absolute; */
  height: 100%;

}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  /* background-color: #fff; */
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.dark {
  background-color: #242424;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

}